<div class="body">
  <div class="container">
    <div class="header">
      <p>Criar atendimento</p>
    </div>
    <div class="content">
      <div class="form">
        <label>
          Treinador
          <input type="text" placeholder="Ex.: Ash da Silva" />
        </label>
        <label>
          Pokemon
          <select>
            <option selected="selected" disabled hidden>Selecione...</option>
            <option>pokemon 1</option>
            <option>pokemon 2</option>
            <option>pokemon 3</option>
          </select>
        </label>
        <label>
          Sintoma
          <input placeholder="Ex: Fraqueza, tontura sei lá" type="text" />
        </label>
        <label>
          Urgência
          <select>
            <option selected="selected" disabled hidden>Selecione...</option>
            <option>Baixa</option>
            <option>Média</option>
            <option>Alta</option>
          </select>
        </label>

        <div class="div-button">
          <div class="button">Salvar</div>
          <div class="cancel-button">Cancelar</div>
        </div>
      </div>
      <div class="imgAsh">
        <img src="../../../../../assets/images/pokemon.png" />
      </div>
    </div>
  </div>
</div>
