
  <div class="navbar">
    <div class="leftside">
      <img src="../../../assets/images/logo.svg" alt="logo pokemon">
      <div class="button">Atendimento</div>
      <div class="button">Espera</div>
      <div class="button">Prontuário</div>
      <div class="button" [routerLink]="'trainer'">Treinador</div>
      <div class="button">Pokemon</div>
    </div>

    <div class="rightside">
      <img src="../../../assets/images/joy.png" alt="">
      <p>Joy</p>
      <img class="arrow" src="../../../assets/images/arrowDown.svg" alt="">
    </div>
  </div>