<div class="navbar">
  <div class="leftside">
    <img src="../../../assets/images/logo.svg" alt="logo pokemon" />
    <div class="button" [routerLink]="'attendance'">Atendimento</div>
    <div class="button" [routerLink]="'queue'">Espera</div>
    <div class="button" [routerLink]="'records'">Prontuário</div>
    <div class="button" [routerLink]="'trainer'">Treinador</div>
    <div class="button" [routerLink]="'pokemon'">Pokemon</div>
  </div>

  <div class="rightside">
    <img src="../../../assets/images/joy.png" alt="" />
    <p>Joy</p>
    <img class="arrow" src="../../../assets/images/arrowDown.svg" alt="" />
  </div>
</div>
