<div class="body">
  <div class="container">
    <div class="header">
      <p>Cadastro de Pokemon</p>
    </div>
    <div class="content">
      <div class="form">
        <div class="form-rw">
          <label>
            Nome
            <input type="text" placeholder="Ex.: Ash da Silva" [(ngModel)]="pokemon.nome"/>
          </label>
          <label>
            Saúde
            <input placeholder="Ex: 50%" type="text" [(ngModel)]="pokemon.saude"/>
          </label>
        </div>

        <div class="form-rw">
          <label>
            Ataque
            <input placeholder="Ex: 60%" type="text" [(ngModel)]="pokemon.ataque"/>
          </label>
          <label>
            Defesa
            <input placeholder="Ex: 40%" type="text" [(ngModel)]="pokemon.defesa"/>
          </label>
        </div>

        <div class="form-rw">
          <label>
            Velocidade
            <input placeholder="Ex: 30%" type="text" [(ngModel)]="pokemon.velocidade"/>
          </label>
          <label>
            Gênero
            <select [(ngModel)]="pokemon.genero">
              <option selected="selected" disabled hidden>Selecione...</option>
              <option>Masculino</option>
              <option>Feminino</option>
            </select>
          </label>
        </div>

        <div class="form-rw">
          <label>
            Treinador
            <select>
              <option selected="selected" disabled hidden>Selecione...</option>
              <option  *ngFor="let trainer of trainers.conteudo" [value]="trainer.id">{{ trainer.nome }}</option>
            </select>
          </label>
          <div class="imgAsh">
            <img src="../../../../../assets/images/attendance.png" />
          </div>
        </div>
        <div class="div-button">
          <div class="button">Salvar</div>
          <div class="cancel-button">Cancelar</div>
        </div>
      </div>
    </div>
  </div>
</div>
