<div class="body">
  <div class="container">
    <div class="header">
      <p>Lista de espera</p>
    </div>
    <div class="content">
      <div class="row">
        <p class="arrival">Chegada</p>
        <p class="pokemon">Pokemon</p>
        <p class="trainer">Treinador</p>
        <p class="symptoms">Sintomas</p>
        <p class="urgency">Urgência</p>
        <p class="health">Saúde</p>
        <p class="statusTitle">Status</p>
      </div>
      <div class="row child">
        <p class="arrival">11:00</p>
        <p class="pokemon">Picachu</p>
        <p class="trainer">Donavan Marques</p>
        <p class="symptoms">Sangramento e muita dor de cabeça</p>
        <p class="urgency">Média</p>
        <p class="health">80%</p>
        <p class="status">
          Aguardando
          <img src="../../../assets/images/aguardandoIcon.svg" alt="" />
        </p>
      </div>
      <div class="row child">
        <p class="arrival">11:00</p>
        <p class="pokemon">Picachu</p>
        <p class="trainer">Donavan Marques</p>
        <p class="symptoms">Sangramento e muita dor de cabeça</p>
        <p class="urgency">Média</p>
        <p class="health">80%</p>
        <p class="status">
          Em atendimento
          <img src="../../../assets/images/atendimentoIcon.svg" alt="" />
        </p>
      </div>
      <div class="row child">
        <p class="arrival">11:00</p>
        <p class="pokemon">Picachu</p>
        <p class="trainer">Donavan Marques</p>
        <p class="symptoms">Sangramento e muita dor de cabeça</p>
        <p class="urgency">Média</p>
        <p class="health">80%</p>
        <p class="status">
          Atendido <img src="../../../assets/images/atendidoIcon.svg" alt="" />
        </p>
      </div>
    </div>
  </div>
</div>
