<div class="body">
  <div class="container">
    <div class="header">
      <p>Cadastro de Pokemon</p>
    </div>
    <div class="content">
      <div class="form">
        <label>
          Nome
          <input type="text" placeholder="Ex.: Ash da Silva" />
        </label>
        <label>
          Saúde
          <input placeholder="Ex: 50%" type="text" />
        </label>
        <label>
          Ataque
          <input placeholder="Ex: 60%" type="text" />
        </label>
        <label>
          Defesa
          <input placeholder="Ex: 40%" type="text" />
        </label>
        <label>
          Velocidade
          <input placeholder="Ex: 30%" type="text" />
        </label>
        <label>
          Gênero
          <select>
            <option selected="selected" disabled hidden>Selecione...</option>
            <option>Masculino</option>
            <option>Feminino</option>
          </select>
        </label>
        <label>
          Treinador
          <select>
            <option selected="selected" disabled hidden>Selecione...</option>
            <option>Listar treinadores</option>
          </select>
        </label>

        <div class="div-button">
          <div class="button">Salvar</div>
          <div class="cancel-button">Cancelar</div>
        </div>
      </div>
      <div class="imgAsh">
        <img src="../../../../../assets/images/pokemon.png" />
      </div>
    </div>
  </div>
</div>
