<div class="body">
  <div class="container">
    <div class="header">
      <p>Cadastro de treinador</p>
    </div>
    <div class="content">
      <div class="form">
        <label>
          Nome completo
          <input
            type="text"
            placeholder="Ex.: Ash da Silva"
            [(ngModel)]="trainer.nome"
          />
        </label>
        <label for="classificao">
          Classificação
          <select [(ngModel)]="trainer.classificacao">
            <option value="0" selected="selected" disabled hidden>
              Selecione...
            </option>
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
          </select>
        </label>
        <label for="genero">
          Gênero
          <select [(ngModel)]="trainer.genero">
            <option hidden value="" disabled selected>Selecione...</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="O">Outros</option>
          </select>
        </label>
        <label for="nascimento">
          Data de nascimento
          <input type="date" [(ngModel)]="trainer.nascimento" />
        </label>
        <div class="div-button">
          <div class="button" (click)="salvarController()">Cadastrar</div>
          <div class="cancel-button">Cancelar</div>
        </div>
      </div>
      <div class="imgAsh">
        <img src="../../../../../assets/images/Ash_Ketchum_ 1.png" />
      </div>
    </div>
  </div>
</div>
