/* You can add global styles to this file, and also import other style files */


* {
  padding: 0;
  margin: 0;
  font-family: 'inter', sans-serif;
}

body {
  background-color: #999999;
}

label {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

input,
select {
  display: flex;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 16px 24px;
  min-width: 435px;
}